
.historiaImg img {
    position: absolute;
    border: 2px solid #FBDA64;
    width: 430px;
    height: 340px;
}

.historiaImg-txt {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 8px;
}

.historiaImg-txt h1 {
    color: #FBDA64;
    font-size: 32px;
    font-weight: 600;
}

.historiaImg-txt p {
    font-weight: 300;
}